<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="İşyeri_Stajyer_Otomasyonu_SP_.Properties.Settings.İsoConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\İso.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>